build
*.iml
*.ipr
*.iws
.DS_Store
.settings/
.idea/
.project
.classpath
.cache-tests
results/
_ignore/
logs/
target/streams/
target/test-reports/
target/scala-2.12/resolution-cache/
target/.history
project/
data/
out/
